body{
    margin: auto;
    padding: auto;
    box-sizing: border-box;

    background-color: #F2CEDA;


}

.container{
width: 1125px;
height: 100%;





}
header{
 display: flex;
 justify-content: center;
width: 100%;
height: 79px;



}


li{
list-style: none;


}